<mat-card>
  <h1>User Search</h1>
  <form class="form-input" [formGroup]="searchForm">
    <mat-label>
      Enter Search Terms:
      <input type="text" formControlName="searchTerms" />
    </mat-label>
    <button
      mat-button
      color="primary"
      [disabled]="searchForm.invalid"
      (click)="handleFormSubmit()"
    >
      Submit
    </button>
    <button mat-button color="accent" (click)="handleClearForm()">
      Clear
    </button>
    <button mat-button color="accent" (click)="handleAddNewUser()">
      Add New User
    </button>
    <mat-error
      *ngIf="
        searchForm.controls.searchTerms.errors?.whitespace &&
        (searchForm.controls.searchTerms.touched ||
          searchForm.controls.searchTerms.dirty)
      "
      >Search Cannot be Only Whitespace</mat-error
    >
  </form>
</mat-card>
<mat-spinner *ngIf="searchInProgress"></mat-spinner>
<div *ngFor="let user of userList$ | async">
  <mat-card class="user-card">
    <mat-card-header>
      <mat-card-title>
        <div>{{ user.firstName }} {{ user.lastName }}</div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="user-card-content">
      <div><img src="{{ user.picture }}" height="100" width="100" /></div>
      <div>
        <div><b>Address: </b>{{ user.address }}</div>
        <div><b>Age: </b>{{ user.age }}</div>
        <div><b>Interests: </b>{{ user.interests }}</div>
        <div>
          <button
            mat-button
            class="remove-button"
            (click)="handleRemove(user.id)"
          >
            Remove
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="center">
  <mat-label *ngIf="!searchInProgress && (userList$ | async)?.length == 0"
    >No Results Found</mat-label
  >
</div>
