<mat-card>
    <h1>Add New User Form</h1>
  <form class="new-user-form" [formGroup]="addUserForm">
    <mat-form-field appearance="fill">
      <mat-label>*First Name:</mat-label>
      <input
        matInput
        placeholder="First Name (Required)"
        formControlName="firstName"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>*Last Name:</mat-label>
      <input
        matInput
        placeholder="Last Name (Required)"
        formControlName="lastName"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Address:</mat-label>
      <input matInput placeholder="Address" formControlName="address" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Age:</mat-label>
      <input matInput type="number" placeholder="Age" formControlName="age" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Interests:</mat-label>
      <input matInput placeholder="Interests" formControlName="interests" />
    </mat-form-field>
    <!-- <div class="move-left">
      <mat-label class="large-font">Picture</mat-label>
      <input
        style="display: none;"
        type="file"
        (change)="onFileChanged($event)"
        formControlName="picture"
        #fileInput
      />
      <button *ngIf="!selectedFile" mat-button class="select-file" (click)="fileInput.click()">Select File</button>
      <mat-label *ngIf="selectedFile" class="image-uploaded">Image Recieved</mat-label>
    </div> -->
    <div>
      <button class="large-font" mat-button color="primary" [disabled]="addUserForm.invalid" (click)="handleSaveNewUser()">
        Save!
      </button>
      <button
        class="large-font"
        mat-button
        color="accent"
        (click)="handleBackButton()"
      >
        Back
      </button>
    </div>
  </form>
</mat-card>
